body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e1e;
  color: white;
}

.mesa {
  display: flex;
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

.player {
  flex: 1;
  background: #2c2c2c;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.player h2 {
  text-align: center;
  margin: 5px 0 10px;
}

/* Área do dado */
.roll-area {
  text-align: center;
  margin-bottom: 10px;
}

.roll-area .controls {
  margin-bottom: 10px;
}

.roll-area .controls input {
  width: 50px;
  padding: 5px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background: #3a3a3a;
  color: white;
}

.roll-area .controls span {
  margin: 0 5px;
}

.roll-area button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
}

.roll-area button:hover {
  background: #45a049;
}

.resultado {
  font-size: 24px;
  margin-top: 10px;
}

/* Histórico */
.historico {
  flex: 1;
  background: #1a1a1a;
  border-radius: 8px;
  padding: 5px;
  overflow-y: auto;
}

.historico ul {
  padding-left: 15px;
}


.historico li.latest {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
  color: #00ffcc;
  transform: scale(1.05);
}
